@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

// reset

.main-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #422F7E;
	font-family: 'Roboto', sans-serif;

	.content-container {
		background-color: white;
		padding: 50px;
		border-radius: 10px;
        box-shadow: 2px 2px 20px rgba(black, .6);

		h1 {
			text-align: center;
            margin: 30px 0;
		} // h1

        p {
            margin: 10px 0;

            span {
                font-weight: bold;
                color: gray;
            } // span
        } // p

		button {
			color: blue;
            background-color: inherit;
            border: none;
            cursor: pointer;
            margin-top: 30px;
            font-size: inherit;
		} // a
	} // .content-container
} // .main-container