@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #422F7E;
  font-family: 'Roboto', sans-serif;
}

.main-container .content-container {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
}

.main-container .content-container h1 {
  text-align: center;
  margin: 30px 0;
}

.main-container .content-container p {
  margin: 10px 0;
}

.main-container .content-container p span {
  font-weight: bold;
  color: gray;
}

.main-container .content-container button {
  color: blue;
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  font-size: inherit;
}
/*# sourceMappingURL=area-logada.css.map */