.erro-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  background-color: rgba(255, 0, 0, 0.7);
  color: orange;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}
/*# sourceMappingURL=banner-de-erro.css.map */